* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body {
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

h1 {
    font-size: 48px;
}

header {
    background-color: white;
}

.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    border: 2px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
}
 
.btn{
    text-decoration: none;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 5px;
    border-radius: 3px;
    color: lightgray;
}

.btn-blue {
    background-color: rgb(0, 132, 255);
    border-color: rgb(0, 132, 255);
    color: white;
}

.top {
    padding: 15px;
    border-bottom-style: solid;
    border-bottom-color: lightgray;
    border-bottom-width: 1px;
}

ul {
    list-style: none;
    margin-bottom: 30px;
    }

.task {
    padding-top: 20px;
    padding-left: 15px;
}

.titoli-task {
    font-size: 18px;
}

.check {
    border: 1px; 
    border-radius: 50%;
    border-color: rgb(47, 173, 8);
    border-style: solid;
    width: 15px;
    height: 15px;
    display: inline-block;
    text-align: center;
    font-size: 10px;
    margin-right: 5px;
}

.btn2 {
    text-decoration: none;
    border: 1px;
    border-color: lightgray;
    border-style: solid;
    padding: 5px;
    border-radius: 15px;
    color: lightgray;
}

.btn-blue2 {
    background-color: rgb(0, 132, 255);
    border-color: rgb(0, 132, 255);
    color: white;
    font-size: smaller;
    margin-left: 3px;
}